body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav {
    background-color: rgb(65, 65, 65);
    color: white;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}

.nav ul li:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

.nav ul li:active {
	background-color: yellow;
}

.image-area {
    background-image: url('images/map.png');
    background-position: center center;
    background-color: black;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.centered-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 0px;
    border: 2px black dotted;
}

.image-text {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2.3rem;
    max-width: 100%;
    padding: 7px 0px 7px 0px;    
}

.intro-text {
    color: gray;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.single-service {
    text-align: center;
    //margin-bottom: 32px;
}

.single-service p {
    padding: 0px 16px;
    background: lightgray;
    border: 2px black solid;
    //width: 100%;
}

.single-service img {
	width: 100%;
}
	
@media screen and (min-width: 700px) {
    body > .container { overflow: hidden; } /* fix */
    body > .container > * { overflow: visible; } /* reset back to normal */
        .nav ul {
            text-align: right;
        }

        .nav ul li {
            display: inline-block;
            border-bottom: 0px;
            border-left: 1px solid black;
            text-align: left;
        }

        .single-service {
        	display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            
        }
        
        img {
        //    width: 100%;
        }
}